**Problem Statement:**

This assignment analyses the Anscombe's Quartet dataset using Python code and libraries - a jupyter notebook was created for the analysis which is included in a github repository named anscombe-assignment.

**Introduction:**

Francis Anscombe studied at Trinity College in Cambridge University with his field of study being Statistics. After serving in the second world war he returned to Cambridge as a lecturer and later moved to Princeton University in 1956. He was founder of the Statistics Department in Yale University.

In 1973 Francis Anscombe created the Anscombe's Quartet dataset to demonstrate that statistical analysis of data by itself is not enough, visual analysis was also required.

The Anscombe's Quartet is made up of four datasets each consisting of 11 x values and 11 y values. In the first three datasets the 11 x values are all the same.

It is not known how Francis Anscombe created the data for the Quartet dataset.

**Import libraries:**

Import libraries for the analysis of the four datasets contained in Anscombe's Quartet.

In [ ]:
import seaborn as sns
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

**Load Datasets:**

The Seaborn library contains the Anscombe's Quartet Dataset so can use the followed python code to import the dataset.

In [4]:
df = pd.read_csv("https://raw.githubusercontent.com/mwaskom/seaborn-data/master/anscombe.csv")

In [5]:
df

   dataset     x      y
0        I  10.0   8.04
1        I   8.0   6.95
2        I  13.0   7.58
3        I   9.0   8.81
4        I  11.0   8.33
5        I  14.0   9.96
6        I   6.0   7.24
7        I   4.0   4.26
8        I  12.0  10.84
9        I   7.0   4.82
10       I   5.0   5.68
11      II  10.0   9.14
12      II   8.0   8.14
13      II  13.0   8.74
14      II   9.0   8.77
15      II  11.0   9.26
16      II  14.0   8.10
17      II   6.0   6.13
18      II   4.0   3.10
19      II  12.0   9.13
20      II   7.0   7.26
21      II   5.0   4.74
22     III  10.0   7.46
23     III   8.0   6.77
24     III  13.0  12.74
25     III   9.0   7.11
26     III  11.0   7.81
27     III  14.0   8.84
28     III   6.0   6.08
29     III   4.0   5.39
30     III  12.0   8.15
31     III   7.0   6.42
32     III   5.0   5.73
33      IV   8.0   6.58
34      IV   8.0   5.76
35      IV   8.0   7.71
36      IV   8.0   8.84
37      IV   8.0   8.47
38      IV   8.0   7.04
39      IV   8.0   5.25
40      IV  19.0  12.50
41      IV   8.0   5.56
42      IV   8.0   7.91
43      IV   8.0   6.89

**Descriptive Statistics:**

Find the mean and standard deviation of the (x, y) values in the four datasets.

In [6]:
df.describe()

               x          y
count  44.000000  44.000000
mean    9.000000   7.500682
std     3.198837   1.958925
min     4.000000   3.100000
25%     7.000000   6.117500
50%     8.000000   7.520000
75%    11.000000   8.747500
max    19.000000  12.740000

**Plots:**

Create scatter plots for the four data sets.

**Conclusion**

It can be seen from the descriptive statistics that the mean values for x and y are the same
for all four datasets as is the standard deviation. Yet when the four datasets are plotted the
plots are totally different.
These similar statistics and very different plots emphasise the importance of not only
making calculations on datasets but visualising the datasets as well.

**References**

https://en.wikipedia.org/wiki/Anscombe%27s_quartet

https://pandas.pydata.org/pandas-docs/version/0.23.4/generated/pandas.DataFrame.mean.html